<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>Jackson Johnson</h1>
          <h4>Also known as Polymorphic - TRiBot</h4>
          <br>
          <p>Thanks for taking the time to read my portfolio.</p>
          <p>Java is my expertise, I enjoy writting scripts for the TRiBot platform</p>
          <p>My mission is to build the highest quality scripts for game automation.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="well">
          <img src="../../images/me.jpeg" class="img-thumbnail" alt="jackson johnson">
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>