<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login View</title>
	</head>
	<body>
		<div class="login-form">
			<h1>Login View</h1>
			<form action="/login" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>